<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Antojitos</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">shopping_cart</mat-icon>
      Venta
    </ng-template>
    <app-venta></app-venta>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person</mat-icon>
      Clientes
    </ng-template>
    <app-cliente></app-cliente>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">archive</mat-icon>
      Productos
    </ng-template>

    <app-producto></app-producto>
  </mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>